body {
 font-family: arial, verdana;
 width: 700px;
}

div.main {
 width: 700px;
}

li {
 margin-bottom: 10px;
}

a:link    {
 font-weight: bold;
 text-decoration: none;
 color: black;
}

a:visited {
 font-weight: bold;
 text-decoration: none;
 color: black;
}

a:active  {
 font-weight: bold;
 text-decoration: none;
 color: black;
}

a:hover   {
 font-weight: bold;
 color: blue;
 cursor: pointer;
}


div.links {
 position: absolute;
 height: 120px;
}

div.links div {
 position: absolute;
 width: 200px;
 height: 40px;
 font-size: 24px;
 padding: 6px; 
}

table { empty-cells:show; }

table.edged { 
 border-collapse: collapse;
}

table.edged td {
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #CCCCCC; 
}

td.clickable:hover {
 background-color: #EEEEEE;
 border-color: #BBBBBB;
 cursor: pointer;
}

td.command {
 font-weight: bold;
 font-size: 12px;
 text-decoration: none;
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 background: #DDE;
}

td.command a:link { 
 color: #448;
 text-decoration: none;
}  

td.command:hover { 
 color: #000;
 background: #AAE;
 border-color: #227;   
 cursor: pointer;
}


span.button {
 font-weight: bold;
 font-size: 12px;
 text-decoration: none;
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 background: #DDE;
}

span.button a:link { 
 color: #448;
 text-decoration: none;
}  

span.button:hover { 
 color: #000;
 background: #AAE;
 border-color: #227;   
 cursor: pointer;
}

div.explainer {
 width:500px;
 font-size:80%;
 display:none
}

span.instructions {
    color: blue;
    font-weight: bold;
}
